html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  box-sizing: border-box;
}

table, tbody, tfoot, thead, tr, th, td {
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  line-height: 1;
  position: relative;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea{
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  background: white;
  border: 1px solid #666666;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 20px;
  color: #CE0808;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button{
  border: none;
}

button:focus{
  outline: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: white;
  stroke-width: 1;
}