@charset "utf-8";/* 必須 */
/*========================================================

  【初期設定】

  1.コンテンツ幅
  2.カラー設定
  3.フォント設定

========================================================*/

/*========================================================

  1.コンテンツ幅

========================================================*/

main.page{
  padding-top: 50px;
  // padding-bottom: 100px;
}

// input
//   &::placeholder,
//   &:-ms-input-placeholder,
//   &::-ms-input-placeholder{
//     color: red;
// }

input::placeholder, textarea::placeholder{
  color: #9B3A3A;
}


/*========================================================

  2.カラー設定

========================================================*/

/*——————— ▼ ベースカラー（背景や余白） ———————*/
$base-color: #B9B9B9;

/*——————— ▼ メインカラー（navや見出し） ———————*/
$main-color: #9B3A3A;

/*——————— ▼ サブカラー（リンクやアクセント部分） ———————*/
$sub-color: #f0a330;


/*========================================================

  3.フォント設定

========================================================*/

/*——————— ▼ フォント設定 ———————*/
//サイズガイド 62.5%の場合　1rem = 10px  1.5rem = 15px 1.8rem = 18px
html{
  width:100%;
  font-size: 62.5%; // 1rem = 10px;

  body{
    width:100%;
    @include fs(15);
    font-family: "Toppan Bunkyu Mincho", "Hiragino Kaku Gothic ProN", sans-serif;
    line-height: 1.5;
    color:#333;
    //background:url(../../images/index/body_bg.png);
    //background-attachment: fixed;

    @include media_sp {
      @include fs(12);
    }

    a{
      text-decoration: none;
      @include transition(.3s);

      &:hover{
        opacity: .7;
      }

    }

  }

}


//@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

//オリジナルフォント(../../common/font/ファイル名)
// @font-face {
//   font-family: 'myfont';
//   src: url(../../common/font/ファイル名);
// }